.header {
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 23px 20px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;

    .header__logo {
        display: inline-block;
        width: 122px;
        height: 54px;
        padding: 0;
        margin-top: 3px;
        cursor: pointer;
        img {
            height: 100%;
            width: 122px;
        }
    }

    .site-id-card {
        width: auto;
        height: 64px;
        border: solid 1px #c4c4c4;
        border-radius: 4px;
        margin-left: 32px;
        padding: 12px;
        align-self: center;
    }

    .menu{
        width: 500px;
        height: 64px;
        margin-left: 100px;
        padding: 30px 20px 20px 20px;
        align-self: center;
        .menu-item{
            width: 150px;
            float:left;
        }
    }
}
