.content {
  height: 750px;
  width: 69%;
  float: left;
  background: #ffffff;
}

.sideMenu {
  width: 20%;
  float: left;
  padding: 12px 16px;
  border-right: 1px solid #e5e5e5;
  height: 825px;
}

.menu-item {
  height: 48px;
}
iframe {
  border: none;
}
